NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=ws://localhost:8081
WS_PORT=8081
DATABASE_URL="postgresql://neondb_owner:npg_GAkLFVuU20gP@ep-lively-salad-aiweyx91-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="dev-secret-this"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
